<!DOCTYPE html>
<html>
<head>
  <title>Beloteapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", welcome_index_path %></li>
      <li><%= link_to "Belote", welcome_belote_path %></li>
      <li><%= link_to "Chkobba", welcome_chkobba_path %></li>
     <li> <%= link_to "Rummy", welcome_rummy_path %></li>
     <li> <%= link_to "Players", players_path %></li>
      <li><%= link_to "login", welcome_login_path %></li>
    </ul>
 

    <%= yield %>
  </div>
</body>
</html>
