<!DOCTYPE html>
<html>
<head>
  <title>Beloteapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
  <%= link_to "Home", welcome_index_path %>
  <%= link_to "Belote", welcome_belote_path %>
  <%= link_to "Chkobba", welcome_chkobba_path %>
  <%= link_to "Rummy", welcome_rummy_path %>
  <%= link_to "Players", players_path %>
  <%= link_to "login", welcome_login_path %>

<%= yield %>

</body>
</html>
